.button {
  display: block;

  width: 100%;
  padding-block: 14px 13px;
  border: none;

  color: #fff;

  border-radius: 8px;
  font-family: Poppins, sans-serif;

  background-color: #2060f6;

  cursor: pointer;

  font-size: 15px;
  font-weight: 600;
  line-height: 100%;

  text-align: center;
  text-decoration: none;

  @include on-tablet {
    max-width: 264px;
  }
}
