.card {
  box-sizing: border-box;
  cursor: pointer;

  &__image {
    display: flex;
    border-radius: 16px;
    margin-inline: auto;
  }

  &__title {
    margin-block: 32px 16px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #253757;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
  }
}
