.card-service {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 9px 18px 0 #25293108;
  padding: 32px;
  flex-direction: column;
  gap: 24px;

  transition: transform 0.3s ease;
  transform-origin: center;

  &__inner {
    transition: transform 0.3s ease;
  }

  &:hover .card-service__inner {
    transform: scale(1.1);
  }

  &__number {
    display: inline;
    padding: 2px 12px;
    background-color: rgba(32, 96, 246, 0.1);
    color: #2060f6;
    border-radius: 23px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
  }

  &__list {
    list-style: none;
    margin: 24px auto 32px 0;
    padding: 0;
  }

  &__item {
    display: flex;
    color: #6c788b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link-arrow {
    background-color: #2060f6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: '';
      display: block;
      background-image: url(../images/icons/arrow_forward.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
    }
  }

  &__link-text {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #334563;
    text-decoration: none;
  }
}
