.menu {
  height: 100vh;
  background-color: #2C2C2C;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  overflow: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__nav {
    margin-block: 30px;
  }

  &__hire-us {
    display: inline-block;
    margin-top: 20px;
  }
}
