.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;

    @include on-tablet {
      flex-direction: row;
      gap: 32px;
    }

    @include on-small-desktop {
      gap: 48px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}
