.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 48px;

  &__logo-burger {
    display: flex;
    gap: 32px;
  }

  &__logo {
    display: flex;
    width: 46px;
    height: 26px;
  }

  &__nav-burger {
    display: flex;
  }

  &__nav {
    display: none;

    @include on-small-desktop {
      display: flex;
    }
  }

  &__icon {
    display: flex;
    cursor: pointer;

    @include on-small-desktop {
      display: none;
    }
  }
}
